body {
   
   /* ADD -<a href="https://www.vecteezy.com/free-photos">Free Stock photos by Vecteezy</a> */
    background-color: rgba(165, 45, 45, 0.3);
    margin: 0;
    padding: 0;
    text-align: center;
  }
a {
    text-decoration: none;
}
#brand {
    color: #898986;
    font-family: 'Lobster Two', cursive;
}
.bi-basket3-fill{
    /* float: right; */
    /* margin: -47px 83px 0 0; */
    font-size: 4vh;
    color: #898986;
}
.shopping-cart-div {
    display: inline;
    position: fixed;
    z-index: 555;
    float: right;
    right: 15px;
    top: 10px;
}

.landing {
    background-image: url("assets/vecteezy_artificial-flower-bouquet-decoration-copy-space-background_3396883.jpg");
    /* height: 20rem; */
    background-size: cover;
}
#searchwrap {
    width: 87vw;
    /* height: 87vh; */
    height: auto;
    position: relative;
    text-align: center;
    margin: 0 auto;
    border-radius: 2%;
    padding-top: 45px;
    box-shadow: 3px 4px 6px #bc9e9e;
}
#searchwrap #itemwrap {
    float: left;
    overflow: hidden;
    width: 0;
    white-space: nowrap;
    border: none !important;
    transition: all 0.7s ease;
}
#searchwrap #itemwrap li {
    display: inline;
    margin-left: 30px;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 1px;
    font-family: 'Quicksand', sans-serif;
    
}
#searchwrap #itemwrap li:hover {
    cursor: pointer;
}
#searchwrap input[type=search] {
    background-color: transparent;
    border: none;
    float: right;
    box-sizing: border-box;
    display: inline;
    width: 0%;
    transition: all 0.7s ease;
    color: #fff;
    font-size: 30px;
    margin-top: -10px;
}
#searchwrap #searchicon {
    position: absolute;
    top: 0;
    right: 0;
    margin: 32px 75px 0 0;
    font-size: 30px;
    color: #fff;
}
#searchwrap #searchicon:hover {
    cursor: pointer;
}
.active {
    border-bottom: 2px solid #fff !important;
    width: 100% !important;
    transition: all 0.7s ease;
}
input:focus {
    outline: none;
}
.heading-row {
    margin: 8% 4% 0%;
    padding-bottom: 9%;
}  
.heading-block {
    color: white;
    font-family: 'Poiret One', cursive;
    background-color: #dabcbcf5;
    border-radius: 22px;
    box-shadow: 1px 1px 7px #e3bfbf;
    padding: 8% 1%;
    height: fit-content;
    width: 41vw;
    position: relative;
}
.slogan {
    margin: 0% 3% 5%;
}
#span-slogan {
    display: -webkit-inline-box;
}
#logo-img {
    max-width: 28%!important;
}
#shop-btn {
    font-family: 'Raleway', sans-serif;
    color:#416d66;
    box-shadow: 0px 2px 6px #b99a9e;
}
.order-now {
    margin: 1% 0% 7%;
}

#items-div {
    width: 87vw;
    height: fit-content;
    position: relative;
    text-align: center;
    margin: 3% auto;
    border-radius: 22px;
    padding-top: 45px;
    box-shadow: 3px 4px 6px #bc9e9e; 
    background: linear-gradient(180deg, rgba(255,255,255,0.896796218487395) 0%, rgba(240,221,221,0.8743872549019608) 50%, rgba(255,255,255,1) 100%)
}
#perfect-arrangement-h1 {
    color: #93aa97;
    font-family: 'Lobster Two', cursive;
    padding-bottom: 30px;
}
/* .items-row {
    padding: 95px 30px 0px 8px;
} */
.items-row {
    padding: 8% 4% 0%;
    text-align: -webkit-center;
}
.colstyle {
    padding-bottom: 12%;
}

.card {
    border-radius: 4%;    
    width: 16.5rem!important;
}
.card-body:hover {
    border-radius: 4%; 
    box-shadow: 1px 1px 16px #416d664a;
}
.text-muted {
    --bs-text-opacity: 1;
    color: #81ad88!important;
    text-shadow: 3px 2px 3px gainsboro;
    font-family: 'Raleway', sans-serif;
    padding: 8% 0% 3%;
}
.card-text {
font-family: 'Raleway', sans-serif;
}
.flower-inventory-pics {
    height: 20vh;
    margin: -90px 0px 0px -7px;
}
.add-to-cart-btn, #see-all-btn {
    flex: 1 1 auto;
    margin: 10px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
   /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    background-color: #93aa97;
   }
.add-to-cart-btn:hover, #see-all-btn:hover {
    background-position: right center;
}
#see-all-btn {
    margin-bottom: 5%;
    background-image: linear-gradient(to right, #dabcbc 0%, #ebd4c6 51%, #dabcbc 100%);
}
#about-div {
    width: 87vw;
    height: fit-content;
    position: relative;
    text-align: center;
    /* margin: 3% auto; */
    border-radius: 22px;
    /* padding-top: 45px; */
    box-shadow: 3px 4px 6px #bc9e9e;
    /* background: linear-gradient(
    180deg, rgba(255,255,255,0.896796218487395) 0%, rgba(240,221,221,0.8743872549019608) 50%, rgba(255,255,255,1) 100%); */
    background-image: url(assets/cosmos-flower-pink.jpg);
    background-size: cover; 
}
#about-h1 {
    color: #898986;
    font-size: 4rem;
    font-family: 'Lobster Two', cursive;
    margin: -15px 0 10px;
    position: relative;
}
#about {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.5rem;
}
#logo-img-about-div {
    height: 20vh;
    position: relative;
}
#footer-div {
    background-color: #dabcbc;
    color: white;
    width: 87vw;
    height: fit-content;
    position: relative;
    margin: 3% auto;
    border-radius: 22px;
    padding-top: 15px;
    box-shadow: 3px 4px 6px #bc9e9e;
}
table {
    font-family: 'Raleway', sans-serif;
    border-collapse: collapse;
    width: 100%;
}
  td, th {
    text-align: left;
    padding: 6px 62px;
    border-style: none;
    color: white;
}
#footer-brand {
    text-align:center;
    color: #898986;
    font-weight: 700;
    margin: 12px 0;
}
.footer-policy-links {
    padding: 1% 1%;
}


@media only screen and (max-width: 625px) {
    /* .heading-row {
        margin: 11% 4% 0%;
        padding-bottom: 9%;
    } */
}

  @media (max-width: 765px) {
    .colstyle {
        padding-bottom: 21%;
    }
  }
  @media (max-width: 767px) {
    #searchwrap #searchicon {
        position: absolute;
        top: 0;
        right: 0;
        margin: 35px 14px 0 0;
        font-size: 30px;
        color: #fff;
    } 
    #about-div {
        width: 87vw;
        height: fit-content;
        position: relative;
        text-align: center;
        /* margin: 3% auto; */
        border-radius: 22px;
        /* padding-top: 45px; */
        box-shadow: 3px 4px 6px #bc9e9e;
        background: linear-gradient( 
        180deg, rgb(255 234 203) 0%, rgb(255 248 219) 50%, rgb(254 225 191) 100%);
    }
}

@media (max-width: 767px) {
    #searchwrap #searchicon {
        position: absolute;
        margin: 3px 20px 0 0;
        font-size: 30px;
        color: #fff;
    }
}